body{
    background-color: blueviolet;
    margin: 20% ;
    border: 2in seagreen ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    
    
}
h1{
    color: gray;
    font-size:150%;
    
    border-bottom: 1px solid black;
}
h2.ko{
    color:crimson;
}
h2{
    color:brown;
    font-size: 1.2em;

}
#fg{
    float: right;


    
    border: thin burlywood double;
    padding: 20px;
}

